---
title: 35th Americas Cup - Opening Weekend
layout: layout
---
%section.mod-header-nav
  %header
    %h1
      35th Americas Cup - Opening Weekend
    = link_to "", "https://itunes.apple.com/au/app/tacktical/id647500092?mt=8&uo=4", target: "itunes_store"

%section.mod-page

  %article.how-it-works#about
    %h1
      What is this?
    %p
      This page is showing historical data for the Rolex Sydney to Hobart 2016.
      At Tacktical we want to help track your performance over time, to help
      you find out how much you've improved this season. Let you analyse your
      sail after the race, who was faster, who had the rights?
    %p
      You can find out more at #{ link_to "http://tacktic.al", "http://tacktic.al" } or
      download the tracker on the app store to join in!
    %p
      = link_to "", "https://itunes.apple.com/au/app/tacktical/id647500092?mt=8&uo=4", target: "itunes_store", style: "display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets/images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/htmlResources/assets/images/web/linkmaker/badge_appstore-lrg.svg);}"
