= wrap_layout :layout do
  %section.mod-header-hero
    %nav
    %header
      %h1
        Tacktical
      .mod-carousel.title
        %h2 Compete, Compare, Contrast
        %h2 Settle Scores
        %h2 Resolve Protests
        %h2 Compete, Compare, Contrast
  %section.mod-page
    = yield
