:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount',    '#{ ENV['GOOGLE_UA'] }']);
  _gaq.push(['_setDomainName', 'tacktical.co.uk']);
  _gaq.push(['_trackPageview']);

  (function()
  {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = '//google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  var google_conversion_id = 987661897;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "vQFgCM-wkAgQyYz61gM";
  var google_conversion_value = 0;
  var google_remarketing_only = false;
%script{ type: "text/javascript", src: "//www.googleadservices.com/pagead/conversion.js" }
