%form{ action: "http://tacktical.us5.list-manage1.com/subscribe/post?u=fba89e58de3e9c4fb9ee3d0d7&amp;id=46fcbf71d8", method: 'post' }
  %label{ for: 'EMAIL' }
    Sign up to our mailing list<br/>Stay up-to-date with the latest tacktics
  = input_tag 'EMAIL', type:'email', placeholder:'Your Email Address'
  .buttonbg
    %input{ type: "submit", value:"Sign Up", name: "subscribe", onClick: "_gaq.push(['_trackEvent', 'Beta', 'Signup']);" }
