---
title:  Tacktical
layout: hero
body:  hero
---
%article.splash
  %h1 Compete, Compare, Contrast
  %p  Track your performance over time, have you improved this season?
  %p  Analyse your sail in the bar, how much faster were you than your mate?
  %p  Did they almost have you? Or were you clear by miles.

%article.splash
  %h1 Settle Scores
  %p  Who was faster on that upwind leg?
  %p  Who had rights at that leeward mark?

%article.splash
  %h1 Resolve Protests
  %p  Three boat lengths to two?
  %p  Overlap or no mark room.
  %p  Find out who had the rights.

%section.mod-login
  %h1 Join the beta!
  %a.btn-facebook{ href: '//beta.tacktical.co.uk/auth/facebook', title: 'Sign in with Facebook' }
    Facebook
  %a.btn-twitter{  href: '//beta.tacktical.co.uk/auth/twitter', title: 'Sign in with Twitter' }
    Twitter

%article.how-it-works
  %h1 How It Works
  %ul.three-step
    %li
      %h1
        %span 1
        Track
      = link_to "", "https://itunes.apple.com/au/app/tacktical/id647500092?mt=8&uo=4", target: "itunes_store", style: "margin-top:1em;display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets/images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/htmlResources/assets/images/web/linkmaker/badge_appstore-lrg.svg);}"
      %p
        Use your iPhone or favourite device to record your sail
    %li
      %h1
        %span 2
        Compare
      %p
        Watch your performance over time
        %br
        Find your weaknesses
    %li
      %h1
        %span 3
        Share
      %p
        Swap tactics with sailors the world over
        %br
        Compare yourself to the rest, find the best
