---
title:  Tacktical
layout: hero
body:  hero
---

%article
  %h1 Settle Scores
  %p  Who was faster on that upwind leg?
  %p  Who had rights at that leeward mark?


%article
  %h1 How It Works
  %dl
    %dt Track
    %dt Review
    %dt Compare
