---
title:  Tacktical
layout: hero
body:  hero
---
.mod-carousel
  %article
    %p  Track your performance over time, have you improved this season?
    %p  Analyse your sail in the bar, how much faster were you than your mate?
    %p  Did they almost have you? Or were you clear by miles.

  %article
    %p  Who was faster on that upwind leg?
    %p  Who had rights at that leeward mark?

  %article
    %p  Three boat lengths to two?
    %p  Overlap or no mark room.
    %p  Find out who had the rights.

  %article
    %p  Track your performance over time, have you improved this season?
    %p  Analyse your sail in the bar, how much faster were you than your mate?
    %p  Did they almost have you? Or were you clear by miles.

:javascript
  $('.mod-header-hero').flexslider({ selector: 'h2' });
  $('.mod-carousel'      ).flexslider({ selector: 'article' });

-#
  %article.content-block.clear-carousel
    %h1 How It Works
    %dl
      %dt Track
      %dd Use your iPhone or favourite device to record your sail
      %dt Review
      %dd Want to settle that score? Review the day's sail on your phone.
      %dt Compare
      %dd Watch your performance over time, find your weaknesses, practise to improve!
      %dt Share
      %dd Swap tactics with sailors the world over, compare yourself to the rest, find the best...
